{% extends 'base.html'%}
{% load static %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="container mt-5 main">
        <div style="background-color: #eeeeee" class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Humidity</h5>
          </div>
          <div>
            <hr>
            <p class="value">Value</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container mt-5 main">
        <div style="background-color: #EEEEEE" class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Temperature</h5>
          </div>
          <div>
            <hr>
            <p class="value">Value</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container mt-5 main">
        <div style="background-color: #EEEEEE" class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Wind Speed</h5>
          </div>
          <div>
            <hr>
            <p class="value">Value</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container mt-5 main">
        <div style="background-color: #EEEEEE" class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Wind Direction</h5>
          </div>
          <div>
            <hr>
            <p class="value">Value</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="container mt-5 main">
        <div style="background-color: #eeeeee" class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Wind Strength</h5>
          </div>
          <div>
            <hr>
            <p class="value">Value</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container mt-5 main">
        <div style="background-color: #EEEEEE" class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Rain</h5>
          </div>
          <div>
            <hr>
            <p class="value">Value</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container mt-5 main">
        <div style="background-color: #EEEEEE" class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Sun Shine</h5>
          </div>
          <div>
            <hr>
            <p class="value">Value</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container mt-5 main">
        <div style="background-color: #EEEEEE" class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">River Level</h5>
          </div>
          <div>
            <hr>
            <p class="value">Value</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}